@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

/** Window and views **/
body {
    margin: auto; 
    background-color:#292876;
    color: rgb(237, 237, 237);
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
   text-decoration: none;
}
a:active {
    text-decoration: none;
}
.text-bright {
    color: white;
}
.text-dim {
    color: lightgray;
    font-size: 0.9em;
}
.btn-round { 
    border-radius: 50%; 
}
.btn-sm.btn-round { 
    width: 30px;
    height: 30px;
}
.btn-round > span {
    vertical-align:text-bottom; 
    font-weight:bold;
}
.view {
    padding: 20px;
    position: relative;
    min-height: 800px;
    margin-bottom: 50px;
    margin: auto;
    max-width: 800px; 
    background: url("https://piworld.es/iedib/matheditor/backgrounds/bubbles.svg");
    background-color:#292876;
}
.bingo_header {
    margin: 20px auto; 
    text-align: center;
    vertical-align: middle;
    font-family: 'Spicy Rice', cursive;
    cursor: pointer;
}
.bingo_header > div {
    display: inline-block;
    margin: 0 20px;
} 
.bingo_ball {
    display: inline-block;
    border: 4px solid brown;
    padding: 6px;
    margin: 5px;
    border-radius: 15px;
    background: whitesmoke;
    color: black;
}
.blink_me {
    color: red;
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
}
.user_ball {
    margin: 0 10px;
    width: 46px;
    height: 46px;
    display: inline-block;
    background-color: darkred;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    vertical-align: text-bottom;
    text-align: center;
    font-size: 1.5em;
} 
.user_ball > h2::first-letter {  
    text-transform: uppercase;
} 
.view.view_nick {
    margin: auto;
}
.view.view_rooms ul {
    list-style-type: none;
}
.view.view_rooms ul > li {
    padding: 10px;
    border-radius: 5px;
}
.view.view_rooms ul > li:nth-child(odd) {
    background-color:rgb(58, 55, 55);
}
.view.view_wait {

}
.bingo_footer {
    position: fixed;
    bottom: 5px;
    right: 10px;
    margin: auto;
    color: lightgray;
    font-size: 0.8em;
}
.view_nick.form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.inline-form {
    margin-top: 90px;
    text-align: center;
}
.inline-form > * {
    display: inline-block;
    max-width: 60%;
}

.players_container {
    overflow-x: auto;
    overflow-y: hidden;
}

/** Bingo items - Cartó **/
.cartro_cell {
    display: table-cell;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    background-color: seashell;
    color: black;
}
.cartro_celledit {
    cursor: grab;
}
.cartro_cell > p {
    margin: auto;
    text-align: center;
}
.cartro_row {
   display: table-row;
}
.cartro_cellvoid {
   background: grey !important;
   pointer-events: none;
   cursor: not-allowed;
}
.cartro_cellselected > span {
    border: 2px solid rebeccapurple;
    padding: 5px;
    border-radius: 50%;
 }
 .cartro_cellok {
    background-color: lightgreen; 
 }
 .cartro_cellwrong {
    background-color:lightcoral; 
 }
 .bingo_cartro {
     display: table; 
     border: 1px solid gray;
     border-radius: 4px; 
 }
 .bingo_panell {
    border-radius: 20px;
    border: 2px dotted darkgoldenrod;
 }
 .bingo_scroll {
     height: 100px;
     overflow-y: auto;
 }

.balls_container {
     width:80%;background:#373248;border:1px dotted yellow; padding:20px;margin:10px auto;
}

 @media (max-width: 700px) {
    .view { 
        max-width: 700px;
        font-size: 105%;
    }
 }

 .pwi-mute {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" transform="scale(0.75)" viewBox="0 0 576 512"><path style="fill:white" d="M301.2 34.85c-11.5-5.188-25.02-3.122-34.44 5.253L131.8 160H48c-26.51 0-48 21.49-48 47.1v95.1c0 26.51 21.49 47.1 48 47.1h83.84l134.9 119.9c5.984 5.312 13.58 8.094 21.26 8.094c4.438 0 8.972-.9375 13.17-2.844c11.5-5.156 18.82-16.56 18.82-29.16V64C319.1 51.41 312.7 40 301.2 34.85zM513.9 255.1l47.03-47.03c9.375-9.375 9.375-24.56 0-33.94s-24.56-9.375-33.94 0L480 222.1L432.1 175c-9.375-9.375-24.56-9.375-33.94 0s-9.375 24.56 0 33.94l47.03 47.03l-47.03 47.03c-9.375 9.375-9.375 24.56 0 33.94c9.373 9.373 24.56 9.381 33.94 0L480 289.9l47.03 47.03c9.373 9.373 24.56 9.381 33.94 0c9.375-9.375 9.375-24.56 0-33.94L513.9 255.1z"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.pwi-unmute {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" transform="scale(0.75)" viewBox="0 0 640 512"><path style="fill:white" d="M412.6 182c-10.28-8.334-25.41-6.867-33.75 3.402c-8.406 10.24-6.906 25.35 3.375 33.74C393.5 228.4 400 241.8 400 255.1c0 14.17-6.5 27.59-17.81 36.83c-10.28 8.396-11.78 23.5-3.375 33.74c4.719 5.806 11.62 8.802 18.56 8.802c5.344 0 10.75-1.779 15.19-5.399C435.1 311.5 448 284.6 448 255.1S435.1 200.4 412.6 182zM473.1 108.2c-10.22-8.334-25.34-6.898-33.78 3.34c-8.406 10.24-6.906 25.35 3.344 33.74C476.6 172.1 496 213.3 496 255.1s-19.44 82.1-53.31 110.7c-10.25 8.396-11.75 23.5-3.344 33.74c4.75 5.775 11.62 8.771 18.56 8.771c5.375 0 10.75-1.779 15.22-5.431C518.2 366.9 544 313 544 255.1S518.2 145 473.1 108.2zM534.4 33.4c-10.22-8.334-25.34-6.867-33.78 3.34c-8.406 10.24-6.906 25.35 3.344 33.74C559.9 116.3 592 183.9 592 255.1s-32.09 139.7-88.06 185.5c-10.25 8.396-11.75 23.5-3.344 33.74C505.3 481 512.2 484 519.2 484c5.375 0 10.75-1.779 15.22-5.431C601.5 423.6 640 342.5 640 255.1S601.5 88.34 534.4 33.4zM301.2 34.98c-11.5-5.181-25.01-3.076-34.43 5.29L131.8 160.1H48c-26.51 0-48 21.48-48 47.96v95.92c0 26.48 21.49 47.96 48 47.96h83.84l134.9 119.8C272.7 477 280.3 479.8 288 479.8c4.438 0 8.959-.9314 13.16-2.835C312.7 471.8 320 460.4 320 447.9V64.12C320 51.55 312.7 40.13 301.2 34.98z"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.pwi-exit {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" transform="scale(0.75)" viewBox="0 0 512 512"><path style="fill:white" d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"/></svg>');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 40px;
    height: 40px;
}